header {
    background-color: #ebf3a0;
}

main {

    text-align: center;
    background-color: #f5fac1;
    /*padding-bottom: 3em;*/
}
body {
    background-color: #f5fac1;
    /*padding-bottom: 3em;
    position: relative;*/
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

footer {
    background-color: #a2f6b5;
    text-align: center;
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
}

.boton {
    background-color: #a2f6b5;
    border-radius: 10px;
        color: #000000;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}
p{
    font-size: larger;
}

.formularioCarga{
    border: 2px;
}

fieldset{
    border-color: #000000;
    
}

.logo{
    max-width: 100px;
    max-height: 200px;    
}

#mensajeError{
    display: none;
    color: red;
}

.obligatorio{
    color: red;
    display: none;
}