header {
    background-color: #55B7F9;
}

main {

    text-align: center;
    background-color: #0F4C75;
    /*padding-bottom: 3em;*/
}
body {
    background-color: #f5fac1;
    /*padding-bottom: 3em;
    position: relative;*/
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

footer {
    background-color: #1B262C;
    text-align: center;
    color: #ffffff;
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
}

#contenedorForm{
    color: #e3e3e3;
    padding: 20px;
    border: 2px;
}

.backgroundElementos {
    background-color: #d8f8ff;
}

.boton {
    background-color: #d8f8ff;
    border: 2px solid black;
    border-radius: 10px;
        color: #000000;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}
p{
    font-size: larger;
}

fieldset{
    border-color: #000000;
    
}

.logo{
    width: 150px;   
}

#mensajeError{
    display: none;
    color: red;
}

.obligatorio{
    color: red;
    display: none;
}
.modalPersonalizado {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: hidden; /* no permitir scroll */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
  }
  
.contenidoModal {
    background-color: #eeeeee;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

#cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
#cerrar:hover,
#cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader {
    padding: 2px 16px;
}

.modalBody {
    padding: 2px 16px;
}
  
.modalFooter {
    text-align: right;
    padding: 2px 16px;
}
body.modalAbierto {
    overflow: hidden;
}